code/data/
venv/
*/venv/
__pycache__/
*.pyc
.DS_Store
Thumbs.db
.venv/
.env
form_noise/
noise/
pitch/
pitch_noise/
pitch_form_noise/
pitch_form/
data_transformed/
run_asr_all.sh
all_audio/